<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hello.data.dao.IUserInfoTempDao">
	<select id="getUserNameByCode" parameterType="String" resultType="String">
		select UserName from userinfotemp where UserCode=#{userCode}
	</select>

	<insert id="InsertUserInfoTemp" useGeneratedKeys="true" keyProperty="Id" parameterType="hello.data.entity.UserInfo">
		insert into userinfotemp(UserName,UserCode) VALUES (#{userName},#{userCode})
	</insert>
</mapper>